body{
    background: url(../img/rojo.jpg);
    background-attachment: fixed;
}

#logo{
    background-color: #CA3413;
}

#menu ul li:hover{
    background-color: #CA3413;
}

.more_btn{
    background-color: #CA3413;
}

form input[type="submit"]{
    background-color: #CA3413;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #9c2409 !important;
    background: #CA3413 !important;
}

#calculadora{
    background-color: #CA3413;
}

button{
    background-color: #CA3413;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #b32b0d ;
}

button:active{
    background-color: #a52e13;
}